---
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

import Layout from "../../layouts/Layout.astro";

import logo from "../../assets/img/logo.svg";

const allDocs = await getCollection("docs");
---

<Layout title="Welcome to JoCode.net" description="Page description">
  <div class="bg-dark">
    <Image src={logo} alt="JoCode.net" />
  </div>
  <main>
    <h1>Documents</h1>

    <ul>
      {
        allDocs.map((item) => (
          <li>
            <a href={`/docs/${item.slug}/`} title={item.data.title}>
              {item.data.title}
            </a>
          </li>
        ))
      }
    </ul>
  </main>
</Layout>
