/*
 * Base styles
*/

.accordion {
  --accordion-c: var(--body-c);
  --accordion-bg: var(--body-bg);
  --accordion-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;

  --accordion-c_a: color-mix(in oklab, var(--accordion-c), var(--c-black) 10%);
  --accordion-bg_a: color-mix(in oklab, var(--accordion-bg), var(--c-black) 5%);

  --accordion-btn-fs: var(--fs-h5);
  --accordion-btn-px: 1.25rem;
  --accordion-btn-py: 1rem;
  --accordion-btn-c: var(--accordion-c);
  --accordion-btn-bg: var(--accordion-bg);

  --accordion-btn-bg_h: color-mix(
    in oklab,
    var(--accordion-bg),
    var(--c-black) 3%
  );

  --accordion-btn-box-shadow_f: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);

  --accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='currentColor'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  --accordion-btn-icon-w: 1.25rem;
  --accordion-btn-icon-transform: rotate(180deg);
  --accordion-btn-icon-transition: transform 0.2s ease-in-out;

  --accordion-body-px: 1.25rem;
  --accordion-body-py: 1rem;

  button {
    border: none;
  }
}

.accordion-item {
  color: var(--accordion-c);
  background-color: var(--accordion-bg);
}

.accordion-btn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  background-color: var(--accordion-btn-bg);
  color: var(--accordion-btn-c);
  padding: var(--accordion-btn-py) var(--accordion-btn-px);
  font-size: var(--accordion-btn-fs);
  overflow-anchor: none;
  transition: var(--accordion-transition);

  &:not(.collapsed) {
    color: var(--accordion-c_a);
    background-color: var(--accordion-bg_a);

    &::after {
      background-image: var(--_accordion-btn-icon_a, var(--accordion-btn-icon));
      transform: var(--accordion-btn-icon-transform);
    }
  }

  &::after {
    content: "";
    flex-shrink: 0;
    width: var(--accordion-btn-icon-w);
    height: var(--accordion-btn-icon-w);
    mask-image: var(--accordion-btn-icon);
    mask-repeat: no-repeat;
    mask-size: var(--accordion-btn-icon-w);
    transition: var(--accordion-btn-icon-transition);
    background-color: var(--accordion-btn-c);
  }

  &:hover {
    background-color: var(--accordion-btn-bg_h);
    z-index: 2;
  }

  &:focus {
    z-index: 3;
    outline: 0;
    box-shadow: var(--accordion-btn-box-shadow_f);
  }
}

.accordion-body {
  padding: var(--accordion-body-py) var(--accordion-body-px);
}

.accordion--border {
  --accordion-bc: var(--bc);
  --accordion-bw: var(--bw);
  --accordion-br: var(--br);
  --accordion-inner-br: calc(var(--br) - (var(--bw)));

  .accordion-item {
    border: var(--accordion-bw) solid var(--accordion-bc);

    &:first-of-type {
      border-top-left-radius: var(--accordion-br);
      border-top-right-radius: var(--accordion-br);

      .accordion-btn {
        overflow: hidden;
        border-top-left-radius: var(--accordion-br);
        border-top-right-radius: var(--accordion-br);
      }
    }

    &:not(:first-of-type) {
      border-top: 0;
    }

    &:last-of-type {
      border-bottom-right-radius: var(--accordion-br);
      border-bottom-left-radius: var(--accordion-br);

      .accordion-btn {
        overflow: hidden;
        border-bottom-right-radius: var(--accordion-br);
        border-bottom-left-radius: var(--accordion-br);
      }
    }
  }

  .accordion-btn {
    &:not(.collapsed) {
      color: var(--accordion-c_a);
      background-color: var(--accordion-bg_a);
      box-shadow: inset 0 calc(-1 * var(--accordion-bw)) 0 var(--accordion-bc);
    }
  }
}

.accordion--new {
  --_accrodion-new--br: var(--br);
  --accordion-bg: var(--c-gray-100);
  display: flex;
  flex-direction: column;
  gap: var(--gutter);

  .accordion-btn {
    border-radius: var(--_accrodion-new--br);
  }
  .accordion-item {
    border-radius: var(--_accrodion-new--br);
  }
}

.accordion--plus-minus {
  --accordion-btn-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath d='M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4'/%3E%3C/svg%3E");
  --_accordion-btn-icon_a: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' viewBox='0 0 16 16'%3E%3Cpath d='M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8'/%3E%3C/svg%3E");
}

@media (prefers-reduced-motion: reduce) {
  .accordion-button {
    transition: none;

    &::after {
      transition: none;
    }
  }
}
