---

---

<>
  <div class='text-primary'>.text-primary</div>
  <div class='text-primary-light'>.text-primary-light</div>
  <div class='text-primary-dark'>.text-primary-dark</div>
  <div class='text-body'>.text-body</div>
  <div class='text-success'>.text-success</div>
  <div class='text-danger'>.text-danger</div>
  <div class='text-warning'>.text-warning</div>
  <div class='text-info'>.text-info</div>
  <div class='text-dark'>.text-dark</div>
  <div class='text-body'>.text-body</div>
  <div class='text-muted'>.text-muted</div>
  <div class='text-black-50'>.text-black-50</div>
  <div class='text-white bg-dark'>.text-white</div>
  <div class='text-white-70 bg-dark'>.text-white-70</div>
  <div class='text-white-50 bg-dark'>.text-white-50</div>
  <div class='text-reset'>.text-reset</div>
</>
