---
import HeaderLink from '@/components/HeaderLink'
---

<header class='relative flex items-center h-12 font-semibold'>
	<a class='text-lg mr-auto' href='/'>Home</a>

	<div
		id='astro-header-drawer'
		class=''
	>
	<HeaderLink href='/blog/tags' class=''>
		Tags
	</HeaderLink>
	</div>
</header>

<script>
	document.addEventListener('click', (event) => {
		const menu = document.getElementById('astro-header-drawer')
		const menuButton = document.getElementById('astro-header-drawer-button')
		const isClickInside =
			menu?.contains(event.target as HTMLDivElement) ||
			menuButton?.contains(event.target as HTMLButtonElement)

		if (isClickInside) {
			menu?.classList.toggle('translate-x-96')
		} else {
			menu?.classList.add('translate-x-96')
		}
	})
</script>
