---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import logo from "../assets/img/logo.svg";
---

<Layout title="Welcome to JoCode.net" description="Page description">
  <div class="bg-dark">
    <Image src={logo} alt="JoCode.net" />
  </div>
  <main>
    <a href="/">Home (Logo)</a>
    <a href="/preview/default/">Preview theme</a>
    <a href="/components/">Components</a>
    <a href="/docs/">Docs</a>
  </main>
</Layout>
