@define-mixin list-unstyled {
  padding-left: 0;
  list-style: none;
}

@define-mixin container-grid {
  display: grid;
  grid-template-columns:
    [full-start] minmax(20px, auto)
    [semi-start] auto
    [container-start right-start]
    var(--container-mw, 1fr)
    [container-end]
    auto [semi-end]
    minmax(20px, auto) [full-end right-end];

  & > * {
    grid-column: container;
  }

  & > .cg--full {
    grid-column: full;
  }

  & > .cg--semi {
    grid-column: semi;
  }
}
