---
import './style.pcss.css';
---

<>
  <!-- Accordion -->
  <details open name='demo-accordion'>
    <summary>Accordion Item #1</summary>
    <div class='details--content'>
      <p>
        This is the first item's accordion body. It is hidden by default, until
        the collapse plugin adds the appropriate classes that we use to style
        each element. These classes control the overall appearance, as well as
        the showing and hiding via CSS transitions. You can modify any of this
        with custom CSS or overriding our default variables. It's also worth
        noting that just about any HTML can go within the <code
          >.details--content</code
        >, though the transition does limit overflow.
      </p>
    </div>
  </details>
</>

<details name='demo-accordion'>
  <summary>Accordion Item #2</summary>
  <div class='details--content'>
    <p>
      It's also worth noting that just about any HTML can go within the <code
        >.details--content</code
      >, though the transition does limit overflow.
    </p>
  </div>
</details>

<details name='demo-accordion'>
  <summary>Accordion Item #3</summary>
  <div class='details--content'>
    <p>
      You can modify any of this with custom CSS or overriding our default
      variables. It's also worth noting that just about any HTML can go within
      the <code>.details--content</code>, though the transition does limit
      overflow.
    </p>
  </div>
</details>
<!-- End Accordion -->

<script is:inline></script>
